PORT=3000
NODE_ENV=production
ENABLE_REDIS=true
REDIS_URL=redis://:ColorBox64x64_Redis_2026@172.16.10.202:6379
MONGO_URL=mongodb://172.16.10.202:27017
MONGO_DB_NAME=game64x64
REDIS_PLAYERS_KEY=game64x64:players
REDIS_USERS_KEY=game64x64:users
REDIS_SESSION_PREFIX=game64x64:session:
REDIS_USER_SESSION_PREFIX=game64x64:user-session:
MOVE_INTERVAL_MS=16
SNAPSHOT_INTERVAL_MS=250
AUTH_COOKIE_SECURE=false
AUTH_SESSION_TTL_SEC=86400
AUTH_REQUIRE_MONGO=true
AUTH_REJECT_CONCURRENT=true
AUTH_SEED_TEST_USERS=true
AUTH_ALLOW_CONCURRENT_SEED_USERS=true
